<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link href="/stylesheets/contacto.css" rel="stylesheet">
    
<body>
  <%- include('./partials/header') %>

    <div class="row">
        <div class="col-12">
            <h1><%= user.first_name %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 confirmacion">
            <br>
            <h2>¡Tu compra se realizo con éxito!</h2>
           
            <h2>Gracias por confiar en nosotros.</h2>
            
        </div>
        
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>