<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <div class="container">
      <div class="row">
          <% if(productos.length > 0){ %>
            <%productos.forEach(function(producto){%>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="card" >
                      <% if (user == undefined || user.is_admin == "no") { %>
                      <a class="productUser" href="/user/detail/<%= producto.id %> ">
                        <% } else if(user.is_admin == "yes") {  %>
                          <a class="productUser" href="/products/<%= producto.id %> ">
                            <% } %>
                        <h5 class="card-title"><strong><%= producto.product_name %></strong> </h5>
                        <img width="300" height="200" src="/images/productos/<%= producto.image %>" class="card-img-top" alt="<%= producto.name %> ">
                        <div class="card-body">
                            <% if(producto.discount > 0){ %>
                                <span>$<%= aMiles(producto.price) %> </span>
                                <span id="discount"><%= producto.discount %>% OFF</span>
                          <% } else { %>
                                <span>$<%= aMiles(producto.price) %> </span>
                            <% } %> 
                          <% let descript = producto.prod_description %>
                          <% descript.split() %>
                          <% let descript2 = "" %>
                          <% for(var i = 0; i < 62; i++){ 
                            descript2 += descript[i]
                          } %>
                          <p class="card-text"><%= descript2 %>...<span><strong>Sigue leyendo</strong></span></p>
                        </div>
                      </a>
                  </div>
              </div>
            <% });%>
          <% } else{ %>
              <h2 id="disculpas" class="col-12">Lo sentimos, no pudimos encontrar el producto buscado.</h2>
          <% }%>
      </div>
    </div>
      <%- include('./partials/footer') %>
      <%- include('./partials/scripts') %>
</body>
</html>

